<div class="single-event">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">{{description}}</p>
    <p><strong>Location:</strong> {{location}}</p>
    <p><strong>Date:</strong> {{format_date date_of}}</p>
    <button data-eventid="{{id}}" id="eventInterest" class="btn btn-dark">I'm Attending</button>

    {{#if event_games}}
    <div class="games-list mt-4">
        <h2>Featured Games</h2>
        <ul class="list-group">
            {{#each event_games}}
            <li class="list-group-item">
                {{this.title}} - {{this.genre}}
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}

    {{#if attending}}
    <div class="attendees-list mt-4">
        <h2>Attendees</h2>
        <ul>
            {{#each attending}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
</div>
<script src="/js/eventInterest.js"></script>