<div class="container mt-4">
    <div class="user-detail">
        <h1 class="user-name">{{username}}</h1>
        <p class="display-name"><strong>Name:</strong>{{name}}</p>
        <p class="email"><strong>Email:</strong>{{email}}</p>
        <p class="location"><strong>Location:</strong>{{location}}</p>
        <div class="game-interests">
            <h3>Game Interests</h3>
            <p>{{interested-games}}</p>
        </div>
    </div>
</div> 