<div class="card game-card m-2">
    <img src="{{image}}" class="card-img-top" alt="{{title}}">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{genre}}</p>
        <a href="/games/{{id}}" class="btn btn-primary">Learn More</a>
    </div>
</div>