<div class="card userProfile-card m-2">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">Username: {{username}}</p>
        <p class="card-text">Location: {{location}}</p>
        <a href="/users/{{id}}" class="btn btn-primary">View Profile</a>
        <!-- Additional user information can go here -->
        {{#if interested_games}}
        <p class="card-text">Games interested in:
            {{#each interested_games}}{{this}}, {{/each}}
        </p>
        {{/if}}
    </div>
</div>